NODE_ENV=development
PORT=80
MONGO_URI=
GMAIL_USER=
GMAIL_AUTH=
NEXT_PUBLIC_CLIENT_ID=
CLIENT_ID=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
stripeSecretKey=
CLIENT_SECRET=
NEXT_PUBLIC_REDIRECT_URI=
REDIRECT_URI=